*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #010101 url('https://github.com/AndrewKolodkin/Starwars/blob/master/image/main-bg.jpg?raw=true') top left 150% no-repeat;
    background-size: contain;
    color: #ffffff;
    background-attachment: fixed;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 90px;
}

.header__logo {
    margin-right: 70px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
}

.hero__subtitle {
    display: block;
    margin-top: 78px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 100%;
}

.hero__title {
    margin-top: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    margin-bottom: 45px;
}

.hero__description {
    max-width: 572px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #AFAFAF;
}

.hero__premier {
    display: block;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 5px;
    color: #B02000;
}

.hero__date {
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
}

.button-play {
    border: none;
    padding: 25px 35px;
    padding-right: 80px;
    background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
    border-radius: 300px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

.button-play:after {
    content: "";
    width: 65px;
    height: 65px;
    background: #fff url('../image/play.svg') center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;

}

.button-play:before {
    content: '';
    width: 80px;
    height: 80px;
    position: absolute;
    right: -8px;
    top: -8px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
}

.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider__item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    margin-right: 20px;
    padding: 30px;
    margin-bottom: 20px;
    background: linear-gradient(0deg, rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86));
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.episodes {
    padding: 60px 0;
}

.episodes__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;

}

.slider__item:hover {
    background: linear-gradient(0deg, rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86));
    transition: all 0.2s;

}

.slider__image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.slider__rating-label {
    margin-right: 10px;
}

.stars {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../image/star.svg') no-repeat center;
}

.star-o {
    background: url('../image/star-o.svg') no-repeat center;
}

.slider__nav--left {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../image/arrow.svg') no-repeat center;
    margin-right: 15px;
    cursor: pointer;
    outline: none;
}

.slider__nav--right {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../image/right-arrow.svg') no-repeat center;
    cursor: pointer;
    outline: none;
}
.slider__nav--left span, .slider__nav--right span{
    display: none;
}
@media(max-width:600px){
    .hero-subtitle{
        font-size: 24px;
    }
    .hero__title{
        font-size: 36px;
        line-height: 120%;
    }
    .hero__description{
        font-size: 16px;
    }
    .header{
        flex-direction: column;
        align-items:flex-start;
    }
    .header__logo{
        margin-bottom: 30px;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .nav__link{
        margin-bottom: 10px;
    }
}